<!-- <a href="#myModal" data-toggle="modal"></a> -->
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="pagination-centered">Sign in with LinkedIn to see more <br/>people and projects</h3>
  </div>
  <div class="modal-footer">
    <span><button class="btn btn-mini btn-modal-1" data-dismiss="modal" aria-hidden="true">Close</button></span>
    <span id="loginButton">
        <script type="in/Login"></script>
    </span>
  </div>
</div>