<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 774knwz4aoj84b
  onLoad: onLinkedInLoad
  authorize: true
</script>
<!-- start: title -->
<div class="page-title1">
  <div class="section-wrapper">
    <div class="container">
      <h2>PurdueMade is <em>THE</em> community for entrepreneurs at Purdue</h2>
      <h3>Join the community through LinkedIn</h3>
      <div id="loginButton">
        <script type="in/Login"></script>
      </div>
    </div>
  </div>
</div><!-- end: title -->
<%= render 'projects' %>
<%= render 'people' %>